@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
	font-family: 'Munkeyshine';
	src: url('fonts/munkeyshine-webfont.eot');
	src: url('fonts/munkeyshine-webfont.woff2') format('woff2'),
		 url('fonts/munkeyshine-webfont.woff') format('woff'),
		 url('fonts/munkeyshine-webfont.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/comfortaa-webfont.woff2') format('woff2'),
		 url('fonts/comfortaa-webfont.woff') format('woff'),
		 url('fonts/comfortaa-webfont.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

html body {
	background: #181818;
	font-family: Comfortaa;
	font-size: 21px;
	color: white;
	width: 100%;
	margin: 0px;
}

h1 {
	color: white;
	font-family: Munkeyshine;
	text-align: center;
	opacity: 0.75;
	font-size: 100px;
	margin: 20px;
}

h2 {
	color: white;
	font-family: Munkeyshine;
	opacity: 0.75;
	font-size: 45px;
	margin: 20px 0 20px 0;
}

.splash {
	display: flex;
	justify-content: center;
	flex-direction: column;
	animation: rainbow 18s step-end infinite;
	width: 100%;
	margin: 0px;
	padding-top: 70px;
	padding-bottom: 80px;
}

@-webkit-keyframes rainbow {
	0% { background-color: #53a96b; }
	13% { background-color: #5398a9; }
	25% { background-color: #5365a9; }
	38% { background-color: #8253a9; }
	50% { background-color: #a95292; }
	63% { background-color: #a95353; }
	75% { background-color: #a99453; }
	88% { background-color: #8ca953; }
	100% { background-color: #53a96b; }
}
@keyframes rainbow {
	0% { background-color: #53a96b; }
	13% { background-color: #5398a9; }
	25% { background-color: #5365a9; }
	38% { background-color: #8253a9; }
	50% { background-color: #a95292; }
	63% { background-color: #a95353; }
	75% { background-color: #a99453; }
	88% { background-color: #8ca953; }
	100% { background-color: #53a96b; }
}

.splash-img {
	margin: 0 auto;
	text-align: center;
}

.splash-img img {
	width: 80%;
	max-width: 500px;
	opacity: 0.75;
}

.splash-text{
	margin-right: 18px;
}

.splash-buttons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	margin: auto;
	flex-wrap: wrap;
}

.button {
	margin: 20px;
	text-align: center;
	font-size: 30px;
	color: white;
	padding: 13px 13px 8px 13px;
	border: 5px white solid;
	border-radius: 8px;
	opacity: .75;
}

.page {
	margin: 70px 0 50px 0;
}


.article {
	display: flex;
	margin: 40px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.article-content {
	padding-right: 25px;
	width: 800px;
}
.article-img {
	border-radius: 8px;
	padding: 70px;
	width: 600px;
	height: 50%;
	display: block;
	position: relative;
	max-width: 80%;
}

.article-img img {
	opacity: 0.75;
	max-width: 100%;
}

.quiri {
	font-family: Munkeyshine;
	font-style: normal;
}

ul {
	padding: 10px 70px 10px 70px;
	font-size: 23px;
}

li {
	padding-bottom: 15px;
}